body {
  margin: 0;
  background: #9617c9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid #FC4B08; /* Cambie el color del border */
  background: #000;
}
